<!DOCTYPE html>
<html lang="zxx">

<head>

<div th:insert="header"></div>


</head>

<body style="background-color: black;" onload="calcearnings()">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <div th:replace="navbar::adminnavbar"></div>

    <!-- Header End -->

   

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-3">
                    <div class="contact-info">
                        <h4>Information</h4>
                        <ul>
                            <li><i class="fa fa-phone"></i>7710279071</li>
                            <li><i class="fa fa-envelope"></i>samar@gmail.com</li>
                        </ul>
                    </div>
                    <div class="contact-address">
                        <h4>Address</h4>
                        <ul>
                            <li><i class="fa fa-map-marker"></i>3172,Opposite Bedi School,Putlighar,Amritsar
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="contact-form">
                        <h4>Total Earnings</h4>
                        <p style="text-align:center;color:white;border-radius:10px;background: linear-gradient(45deg, #e16521, #e4381C);" id="earnings"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Cta Section Begin -->
    
    <div th:insert="HtmlFooter"></div>
    <!-- Footer Section End -->

   
<div th:insert="footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-qFOQ9YFAeGj1gDOuUD61g3D+tLDv3u1ECYWqT82WQoaWrOhAY+5mRMTTVsQdWutbA5FORCnkEPEgU0OF8IzGvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  function calcearnings(){
      
            var url = "/CalcEarnings";
                  
                fetch(url)
                          .then(response => response.text())
                          .then(ans => renderAsHtml(ans) );
  }
  
  function renderAsHtml(ans)
            {
                document.getElementById("earnings").innerHTML="You have earned "+ans+" Rupees till now"; 
                
            } 
    
</script>
</body>

</html>