<!DOCTYPE html>

<html>
    <head>

    <div th:insert="header"></div>
    <script>
        function getgyms(){
            
            var cityname=document.getElementById("cityname").innerText;
            
            var url="/UserGetGyms?cityname="+cityname;
            
            fetch(url)
                    .then(response => response.text())
                    .then(ans => renderAsHtml(ans));
        }
        
        function renderAsHtml(ans){
           
            var obj=JSON.parse(ans);
            var arr=obj.ans;
           
            var s=``;
            for(var i=0;i<arr.length;i++){
                
                s+=`<div class="col-lg-4"><div class="classes-item set-bg" style=" background-image:linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(`+arr[i].photo+`); background-repeat: no-repeat;">
                        <h4>`+arr[i].name+`</h4>
                        <p>`+arr[i].address+`</p>
                        <a href="/UserShowGymData?id=`+arr[i].id+`" class="primary-btn class-btn" >Choose gym</a>
                    </div>
                </div>`;
            }
            document.getElementById("d1").innerHTML=s;
            
        }
    </script>
   
</head>
<body style="background-color: black" onload="getgyms()">
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->

    <div  th:replace="navbar::usernavbar"></div>
    <div id="cityname" th:text="${cityname}" style="display:none"></div>

    <section class="classes-section" style="margin-top:100px">
        <div class="class-title set-bg" data-setbg="img/classes-title-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 m-auto text-center">
                        <div class="section-title pl-lg-4 pr-lg-4 pl-0 pr-0">
                            <h2>All Gyms</h2>
                            <p>User can select a gym to view packages.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
            <div class="row" id="d1">
                
            </div>
            </div>
        </div>
    </section>
   
    <!-- Cta Section End -->

    <!-- Footer Section Begin -->
    <div th:insert="HtmlFooter"></div>

    <div th:insert="footer"></div>
</body>
</html>
